<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.cg.eclipse.plugins.ftc.FtcEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="fts, sql"
            icon="icons/gft.png"
            id="org.cg.eclipse.ftcplugin.FtcEditor"
            name="Fusion Tables">
      </editor>
   </extension>
    <extension
          id="SqlDocumentSetupParticipant"
          point="org.eclipse.core.filebuffers.documentSetup">
       <participant
             class="org.cg.eclipse.plugins.ftc.SqlDocumentSetupParticipant"
             extensions="fts, sql">
       </participant>
    </extension>
   <extension
         id="org.cg.ftcSyntaxErrormarker"
         name="ftc syntax error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="org.cg.ftcModelProblemMarker"
         name="ftc model reference error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
    <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="ftc.contextType.name"
            class="org.cg.eclipse.plugins.ftc.FtcContextType"
            id="org.cg.ftc">
      </contextType>
      <resolver
            name="ftc.resolvers.t"
            type="t"
            icon="icons/sample.gif"
            description="tables"
            contextTypeId="org.cg.ftc"
            class="org.cg.eclipse.plugins.ftc.template.FtcVariableResolver">
      </resolver>
      <resolver
            name="ftc.resolvers.tt"
            type="tt"
            icon="icons/sample.gif"
            description="tables"
            contextTypeId="org.cg.ftc"
            class="org.cg.eclipse.plugins.ftc.template.FtcVariableResolver">
      </resolver>
      <resolver
            name="ftc.resolvers.c"
            type="c"
            icon="icons/sample.gif"
            description="columns"
            contextTypeId="org.cg.ftc"
            class="org.cg.eclipse.plugins.ftc.template.FtcVariableResolver">
      </resolver>
            <resolver
            name="ftc.resolvers.c1"
            type="c1"
            icon="icons/sample.gif"
            description="columns"
            contextTypeId="org.cg.ftc"
            class="org.cg.eclipse.plugins.ftc.template.FtcVariableResolver">
      </resolver>
      <resolver
            name="ftc.resolvers.c2"
            type="c2"
            icon="icons/sample.gif"
            description="columns"
            contextTypeId="org.cg.ftc"
            class="org.cg.eclipse.plugins.ftc.template.FtcVariableResolver">
      </resolver>
          <resolver
            name="ftc.resolvers.c3"
            type="c3"
            icon="icons/sample.gif"
            description="columns"
            contextTypeId="org.cg.ftc"
            class="org.cg.eclipse.plugins.ftc.template.FtcVariableResolver">
      </resolver>
      <resolver
            name="ftc.resolvers.c4"
            type="c4"
            icon="icons/sample.gif"
            description="columns"
            contextTypeId="org.cg.ftc"
            class="org.cg.eclipse.plugins.ftc.template.FtcVariableResolver">
      </resolver>
   </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
             id="ftcEditor"
             name="ftcEditor">
       </category>
       <view
             category="ftcEditor"
             class="org.cg.eclipse.plugins.ftc.view.ResultView"
             icon="icons/gft.png"
             id="org.cg.eclipse.plugins.ftc.view.ResultView"
             name="Result Data">
       </view>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
   		<definition id="org.cg.eclipse.plugins.ftc.definition.ftcPerspectiveActive">
       		<with variable="activeWorkbenchWindow.activePerspective">
           		<equals value="org.cg.eclipse.plugins.ftc.perspective"/>
            </with>
   		</definition>
	</extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.cg.eclipse.plugins.ftc.commands"
             name="Fu Commands">
       </category>
       <command
             categoryId="org.cg.eclipse.plugins.ftc.commands"
             id="%ftc.listTables"
             name="%ftc.tooltipListTables">
       </command>
       <command
             categoryId="org.cg.eclipse.plugins.ftc.commands"
             id="%ftc.execSql"
             name="%ftc.tooltipExecSql">
       </command>
       <command
             categoryId="org.cg.eclipse.plugins.ftc.commands"
             id="%ftc.execAllSql"
             name="%ftc.tooltipExecAllSql">
       </command>
       <command
             categoryId="org.cg.eclipse.plugins.ftc.commands"
             id="%ftc.viewPreprocessedQuery"
             name="%ftc.tooltipViewPreprocessedQuery">
       </command>
       <command
             categoryId="org.cg.eclipse.plugins.ftc.commands"
             id="%ftc.cancelExecution"
             name="Cancel Execution">
       </command>
       <command
             categoryId="org.cg.eclipse.plugins.ftc.commands"
             id="%ftc.refreshTables"
             name="%ftc.tooltipRefreshTables">
       </command>
       <command
             categoryId="org.cg.eclipse.plugins.ftc.commands"
             id="focusDataView"
             name="Focus Data View">
       </command>       
       <command
             categoryId="org.cg.eclipse.plugins.ftc.commands"
             id="org.cg.eclipse.plugins.ftc.exportCsv"
             name="Export Fu csv">
       </command>       
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.cg.eclipse.plugins.ftc.handlers.FtcCommandHandler"
             commandId="%ftc.listTables">
       </handler>
       <handler
             class="org.cg.eclipse.plugins.ftc.handlers.FtcCommandHandler"
             commandId="%ftc.execSql">
       </handler>
       <handler
             class="org.cg.eclipse.plugins.ftc.handlers.FtcCommandHandler"
             commandId="%ftc.execAllSql">
       </handler>
       <handler
             class="org.cg.eclipse.plugins.ftc.handlers.FtcCommandHandler"
             commandId="%ftc.viewPreprocessedQuery">
       </handler>
       <handler
             class="org.cg.eclipse.plugins.ftc.handlers.FtcCommandHandler"
             commandId="%ftc.cancelExecution">
       </handler>
       <handler
             class="org.cg.eclipse.plugins.ftc.handlers.FtcCommandHandler"
             commandId="%ftc.refreshTables">
       </handler>
       <handler
             class="org.cg.eclipse.plugins.ftc.handlers.FtcCommandHandler"
             commandId="org.cg.eclipse.plugins.ftc.exportCsv">
       </handler>
    </extension>
    <extension
          id="org.cg.eclipse.plugins.ftc.ftcKeyBindings"
          point="org.eclipse.ui.bindings">
          <!--  M1-ctrl M2-shift M3-alt -->
       <key
             commandId="%ftc.execSql"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M3+R">
       </key>
        <key
             commandId="%ftc.execAllSql"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M3+A">
       </key>       
       <key
             commandId="%ftc.cancelExecution"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M3+C">
       </key>
       <key
             commandId="%ftc.viewPreprocessedQuery"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M3+V">
       </key>
       <key
             commandId="%ftc.listTables"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+T">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
          <menuContribution	locationURI="menu:file?after=open.ext">
            
     		<command
           		commandId="org.cg.eclipse.plugins.ftc.exportCsv"
           		id="org.cg.eclipse.plugins.ftc.menu.exportCsv"
           		style="push">
          <visibleWhen
                checkEnabled="false">
                <reference definitionId="org.cg.eclipse.plugins.ftc.definition.ftcPerspectiveActive"/>
          </visibleWhen>
     		</command>
		</menuContribution>
       	<menuContribution
             locationURI="menu:org.eclipse.ui.main.menu?after=additions">
          <menu
                id="org.cg.eclipse.plugins.ftc.menu"
                label="%ftc.menu"
                mnemonic="C">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="org.cg.eclipse.plugins.ftc.definition.ftcPerspectiveActive"/>
         		</visibleWhen>
             <command
                   commandId="%ftc.listTables"
                   id="%ftc.listTables"
                   mnemonic="L">
             </command>
             <command
                   commandId="%ftc.execSql"
                   id="%ftc.execSql"
                   mnemonic="X">
             </command>
             <command
                   commandId="%ftc.execAllSql"
                   id="%ftc.execSql"
                   mnemonic="A">
             </command>
             <command
                   commandId="%ftc.viewPreprocessedQuery"
                   id="%ftc.viewPreprocessedQuery"
                   mnemonic="V">
             </command>
             <command
                   commandId="%ftc.cancelExecution"
                   id="%ftc.cancelExecution"
                   mnemonic="C">
             </command>
             <command
                   commandId="%ftc.refreshTables"
                   id="%ftc.refreshTables"
                   mnemonic="R">
             </command>                                                    
          </menu>
       </menuContribution>
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
           <toolbar  id="org.cg.eclipse.plugins.ftc.toolbar">
           <visibleWhen checkEnabled="false">
            		<with variable="activeWorkbenchWindow.activePerspective">
                		<equals value="org.cg.eclipse.plugins.ftc.perspective"/>
            		</with>
    	   </visibleWhen>
    	   <command
	             commandId="%ftc.viewPreprocessedQuery"
	             icon="icons/control_play.png"
	             id="%ftc.viewPreprocessedQuery"
	             tooltip="%ftc.tooltipViewPreprocessedQuery">
	       </command>
           <command
                 commandId="%ftc.listTables"
                 icon="icons/table.png"
                 id="%ftc.listTables"
                 tooltip="%ftc.tooltipListTables">
           </command>
	       <command
	             commandId="%ftc.execSql"
	             icon="icons/control_play_blue.png"
	             id="%ftc.execSql"
	             tooltip="%ftc.tooltipExecSql">
	       </command>
	       <command
	             id="%ftc.execAllSql"
	             icon="icons/control_fastforward_blue.png"             
	             commandId="%ftc.execAllSql"
	             tooltip="%ftc.tooltipExecAllSql">
	       </command>
	       <command
	             id="%ftc.cancelExecution"
	             icon="icons/cancel.png"             
	             commandId="%ftc.cancelExecution"
	             tooltip="Cancel Execution">
	       </command>
	       <command
	             id="%ftc.refreshTables"
	             icon="icons/arrow_refresh_small.png"             
	             commandId="%ftc.refreshTables"
	             tooltip="%ftc.tooltipRefreshTables">
	       </command>  
          </toolbar>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="org.cg.eclipse.plugins.ftc.preference.FtcPreferencePage"
             id="org.cg.eclipse.plugins.ftc.preference.Preferences"
             name="Fusion Tables Console">
       </page>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="org.cg.eclipse.plugins.ftc.preference.Preferences"
             class="org.cg.eclipse.plugins.ftc.preference.SyntaxColoringPreferencePage"
             id="org.cg.eclipse.plugins.ftc.preferences.syntaxColoring"
             name="SyntaxColoringPreferences">
       </page>
    </extension>    
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.cg.eclipse.plugins.ftc.preference.PreferenceInitializer">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="org.cg.eclipse.plugins.ftc.FtcPerspective"
             icon="icons/gft.png"
             id="org.cg.eclipse.plugins.ftc.perspective"
             name="Fusion Tables">
       </perspective>
    </extension>
</plugin>
